* {
    padding: 0;
    margin: 0;
    font-family: monospace;
    text-decoration: none;
    list-style: none;
    box-sizing: 0;
}


/* * {border: solid green 2px; margin: 5px;}
*:nth-child(1) {border: solid 2px blue;}
*:nth-child(2) {border: solid 2px white;}
*:nth-child(3) {border: solid 2px orange;} */

body {
    background-color: black;
}

nav {
    display: flex;
    background-color: #ff1100c7;
    border-bottom: solid 2px #ffffff;
    height:80px;
}

.home_btn {
    display: flex;
    align-items: center;
    padding-right: 12em;
}

.pokeball {
    width: 4em;
    height: 4em;
    background-image: url(https://forums.windowscentral.com/attachments/nokia-glance-backgrounds/45742d1381464991t-pokeball-glance.png);
    background-size: cover;
    background-position: center;
    margin: .2em;
    padding: 1em;
}

.pokeball:hover {
    cursor: pointer;
    animation-name: shake;
    animation-duration: 1s;
    animation-iteration-count: 2;
}

.home_title {
    position: absolute;
    top: -0.7em;
}

.solid {
    font-family: 'pokefont_solid';
    color: yellow;
    font-size: 2.5em;
}

.hollow {
    z-index: 1;
    font-family: 'pokefont_hollow';
    color: blue;
    font-size: 2.5em;
}
.link_container{
    display:flex;
    margin-left: 3em;
    justify-content: space-between;
    width:100%
}

.nav_links{
    display:flex;
    width:100%;
    max-width: 400px;
    justify-content: space-between; 
}

.nav_links li{
    align-self: center;
    margin: 4em 0;

}
.nav_link{
    padding: 60% 0;
    border:solid black 2px;
}

.drop_menu input{
    width:80px;
    height: 80px;
    background-color: blue;
}
.drop_menu input:checked + .menu_bar{
    display:contents;
}

.menu_bar{
    display:flex;
    display:none;
    flex-direction: column;
    top:500px;
    border:solid white 2px;
}

.menu_bar,
.menu_bar li,
.drop_menu input {
    display:none;
}

.alert{
    text-align: center;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 1em;
}
.alert-success{
    background-color: #00800070;
    border: solid green 2px;
}
.alert-warning{
    background-color: #ffff0070;
    border: solid yellow 2px;
}
.alert-danger{
    background-color: #ff000070;
    border: solid red 2px;
}
.closebtn{
    cursor: pointer;
    font-size: 2.5em;
}


.lukemon_tree {
    margin: 2em;
    display: flex;
    text-align: center;
    justify-content: center;
}

@keyframes shake {
    20% {
        transform: translateX(-.2rem);
    }

    40% {
        transform: translateX(.2rem);
    }

    50% {
        transform: rotateZ(0.15turn);
    }

    80% {
        transform: rotateZ(-0.15turn);
    }
}

@font-face {
    font-family: 'pokefont_solid';
    src: url('../images&font/font/PokemonSolidNormal.woff2') format('woff2');
}

@font-face {
    font-family: 'pokefont_hollow';
    src: url('../images&font/font/PokemonHollowNormal.woff2') format('woff2');
}

@media screen and (max-width:600px) {
    .menu_bar li:nth-child(1),
    .drop_menu input {
        display:block;
    }
    .profile_link{
        display: none;
    }
    
}
@media screen and (max-width:550px) {
    .menu_bar li:nth-child(2) {
        display:block;
    }
    .nav_links li:nth-child(4){
        display:none;
    }
}
@media screen and (max-width:500px) {
    .menu_bar li:nth-child(3) {
        display:block;
    }
    .nav_links li:nth-child(3){
        display:none;
    }
}
@media screen and (max-width:450px) {
    .menu_bar li:nth-child(4) {
        display:block;
    }
    .nav_links li:nth-child(2){
        display:none;
    }
}
@media screen and (max-width:400px) {
    .menu_bar li:nth-child(5) {
        display:block;
    }
    .menu_bar{
        justify-content: center;
    }
    .nav_links li:nth-child(1){
        display:none;
    }
    .nav_links{
        justify-content: center;
    }
}




