.pokesprite{
    width: 250px;
}

table {
    background-color: black;
    color: white;
    border-radius: 4px;
    font-size: 1.4em;
}

.table_name {
    border: #00f7ff solid 2px;
    background-color: #00f7ff88;
}
.att{
    border: #ff0000 solid 2px;
    background-color: #ff000088;
}
.def{
    border: #1100ff solid 2px;
    background-color: #1100ff88;
}
.hp {
    border: #15ff00 solid 2px;
    background-color: #15ff0088;
}

.speed {
    border: #b700ff solid 2px;
    background-color: #b700ff88;
}

.move_display{
    color:white;
    font-size: 2em;
}

form,
.form_group {
    display: flex;
    flex-direction: column;
    color: white;
}

th,
tr {
    border-radius: 4px;
    padding: .5em;
}