<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    {% block styles %}

    {% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images&font/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images&font/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images&font/images/favicon-16x16.png">
    <link rel="manifest" href="../static/images&font/images/site.webmanifest">
    <script src="https://kit.fontawesome.com/5e8803ef87.js" crossorigin="anonymous"></script>
    <title>Lukemon {% block title %}{% endblock %}</title>
</head>

<body>
    {% include './includes/nav.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert-{{category}} alert" role="alert">
                    {{message}}
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="lukemon_tree">
        {% block content %}

        {% endblock %}
    </div>

   
</body>

</html>