{% extends 'base.html' %}

{% block title %}
Edit Profile
{% endblock %}

{% block styles%}
<link rel="stylesheet" href="{{url_for('static', filename='css/universal_form.css')}}">
{% endblock %}

{% block content %}
<div class="login_container">
    <h1>Edit Profile</h1>
    <form action="{{url_for('auth.edit_profile')}}" method="POST">
        {{form.hidden_tag()}}
        <div class="form_group">
            {{form.first_name.label()}}
            <br>
            {{form.first_name}}
        </div>
        <div class="form_group">
            {{form.last_name.label()}}
            <br>
            {{form.last_name}}
        </div>
        {{form.submit_btn(class='submit_btn')}}
        <div>{{error}}</div>
    </form>
</div>

{% endblock %}